amqp==2.1.4
asgiref==3.2.10
billiard==3.5.0.2
celery==4.0.2
configparser==5.0.0
Django==2.2
django-db-locking==2.0.4
django-extensions==3.0.3
django-jsonfield==1.4.0
django-picklefield==3.0.1
django-sms-gateway==1.2.1
django-smsgateway==2.1.20
django-statsd-unleashed==1.0.6
django-uuidfield-2==0.6.6
django-waffle==0.16.0
future==0.16.0
kombu==4.0.2
mysqlclient==2.0.1
phonenumberslite==7.3.2
PyGoogleVoice==0.5.2
pytz==2020.1
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
statsd==3.3.0
vine==1.1.3
